body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Wolves
      ul.nav.navbar-nav
        li
          a(href='/howls') Howls
      ul.nav.navbar-nav.pull-right
        li
          a(href='/login') Login
  .container
    main(data-hook="page-container")
